.course-info {
  border: solid 1px rgb(48, 176, 255);
  margin: 1rem;
  padding: 1rem;
  flex: 1;
}

.course-info h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.course-info_description-container {
  display: flex;
}

.course-info p {
  margin-bottom: 0.5rem;
}

.course-info_description {
  flex: 3;
  margin: 1rem;
}

.course-info_info {
  flex: 1;
  margin: 1rem;
  min-width: 230px;
}

.course-info_id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-info_authors {
  white-space: pre-wrap;
  line-height: 1.5rem;
}

.course-info_link {
  text-decoration: none;
  color: #007bff;
}

.course-info_link:hover {
  text-decoration: underline;
  color: #ff0000;
}