.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem;
}

.title input {
  border: 1px solid orange;
}

.title_create-course-button {
  margin-left: 1rem;
  height: auto;
}
