.course-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(115, 167, 120);
  margin: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
}

.course-card_title {
  flex: 3;
}

.course-card_title > p {
  margin-top: 1rem;
}

.course-card_info {
  min-width: 230px;
  flex: 1;
  margin-left: 2rem;
}

.course-card_info > p {
  margin-bottom: 0.5rem;
}

.course-card_author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card_button {
  margin: 0.5rem 0.2rem;
  text-decoration: none;
}

.course-card_button__small {
  width: auto;
  margin: 0.5rem 0.2rem;
  text-decoration: none;
}

.course-card_link {
  text-decoration: none;
}
