.authors-adding {
  width: 50%;
  margin: 1rem;
}

.authors-adding h3 {
  text-align: center;
  margin: 1rem;
}

/* .authors-adding input {
  border: 1px solid rgb(198, 198, 10);
} */

.authors-adding_list,
.authors-adding_course-list {
  width: 80%;
  margin: 0 auto 2rem auto;
}

.authors-adding_list ul,
.authors-adding_course-list ul {
  list-style-type: none;
}

.authors-adding_list-item,
.authors-adding_course-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  min-width: 260px;
}

.authors-adding_button {
  margin-left: 1rem;
  height: auto;
}

.authors-adding_empty-course {
  text-align: center;
}
