.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px pink;
  margin: 1rem 1rem 0.1rem 1rem;
  padding: 1rem;
}

.header_logo {
  margin-right: auto;
}

.header_logout-button {
  margin-left: 1rem;
  height: auto;
}
