.courses {
  border: solid 1px rgb(115, 167, 120);
  margin: 0 1rem;
}

.courses_control {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.courses_add-new-button {
  margin-left: 1rem;
}

.courses_add-new-link {
  text-decoration: none;
}
