.create-course {
  border: solid 1px rgb(117, 168, 239);
  margin: 0 1rem;
  padding: 1rem;
}

.create-course_authors {
  display: flex;
  justify-content: center;
  border: solid 1px rgb(0, 0, 0);
  margin: 1rem;
}

.create-course_authors h3 {
  text-align: center;
  margin: 1rem;
}

.create-course_authors input {
  border: 1px solid rgb(198, 198, 10);
}


.create-course_authors__left {
  width: 50%;
  margin: 1rem;
}
