.login {
  border: solid 1px rgb(115, 167, 120);
  margin: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  margin: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_form input {
  margin-bottom: 1rem;
  border: 1px solid rgb(255, 204, 0);
}

.login_button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login_button {
  margin-bottom: 1rem;
}

.login_link {
  text-decoration: none;
  color: #007bff;
}

.login_link:hover {
  text-decoration: underline;
  color: #ff0000;
}
