.App {
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notification {
  padding: 10px;
  position: absolute;
  top: 1rem;
}

.notification.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.notification.error {
  background-color: #f2dede;
  color: #a94442;
  white-space: pre-wrap;
}
